body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.container {
    width: 800px;
    margin: 50px auto;
    background-color: wheat;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 97%;
    padding: 3px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 7px;
}

.error {
    color: red;
    font-size: 12px;
}


/* ----------IMAGE SLIDER---------- */

.slider {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
}

.slide {
    width: 100%;
    transition : 0.5s;
    flex-shrink: 0;
}

input[name = "slider"] {
    display: none;
}

#slide1:checked ~ .slider .s1 {
    /* transform: translateX(0%); */
    margin-left: 0;
}
#slide2:checked ~ .slider .s1 {
    /* transform: translateX(-100%); */
    margin-left: -100%;
}
#slide3:checked ~ .slider .s1 {
    /* transform: translateX(-200%); */
    margin-left: -200%;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navigation label {
    background: gray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

#slide1:checked ~ .nagivation label[for = "slide1"],
#slide2:checked ~ .nagivation label[for = "slide2"],
#slide3:checked ~ .nagivation label[for = "slide3"] {
    background: black;
}

/* ----------NAVIGATION BAR---------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px
}

.nav-logo {
    color: white;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
}

/* ----------ABOUT PAGE---------- */
.profile-card {
    max-width: 300px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-card .role {
    color: gray;
    .profile-card .bio {
        font-size: 14px;
    }
}