body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.container {
    width: 300px;
    margin: 50px auto;
    background-color: wheat;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 97%;
    padding: 3px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 7px;
}

.error {
    color: red;
    font-size: 12px;
}